@import 'https://fonts.googleapis.com/css?family=MedievalSharp|Oxygen';

body {
  background-image: url('imgs/medieval_dining.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100%;
  max-width: 100%;
}



.header {
  color: white;
  text-align: left;
}

.header h1 {
  font-family: 'MedievalSharp', cursive;
  font-size: 3.0em;
}

.header h4 {
  font-family: 'Oxygen', sans-serif;
  margin-bottom: 50px;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
  background-color: transparent;
  font-family: 'MedievalSharp', cursive;
  font-size: 2.3em;
  text-align: left;
}

li a {
  list-style-decoration: none;
  color: white;
}

li a:hover {
  font-size: 1.2em;
  color: white;
}

li a.active {
  font-size: 1.3em;
  color: white;
  background-color: transparent;
}

.noMessage {
  display: none;
  color: white;
  font-size: 1.3em;
  padding: 50px;
}

#message {
  font-family: 'Oxygen', sans-serif;
  background-color: rgba(0, 0, 0, .3);
}

.footer {
  font-family: 'Oxygen', sans-serif;
  color: white;
  text-align: center;
}

.footer a {
  color: orange;
}

.footer a:hover {
  font-size: 2.0em;
}
